BepInEx/plugins/HollywoodFX/hollywoodfx filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ManimalIcebreaker/streamingassets/Windows/assets/content/locations/icebreaker/icebreaker_scenes.bundle filter=lfs diff=lfs merge=lfs -text
