## Settings file was created by plugin Manimal-IcebreakerFika v0.2.3
## Plugin GUID: com.manimal.icebreaker.fika

[Diagnostics]

## dump the renderer state of the observed player you're LOOKING AT to the log (invisible-bot hunt)
# Setting type: KeyboardShortcut
# Default value: F7
BodyProbeKey = F7

