## Settings file was created by plugin WTT-Armory v2.0.5
## Plugin GUID: com.wtt.armory

[Hyperburst]

## Rate of fire multiplier during hyperburst
# Setting type: Single
# Default value: 3
# Acceptable value range: From 1 to 4
Burst ROF Multi = 3

## Recoil multiplier during hyperburst
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0.1 to 1
Burst Recoil Multi = 0.5

## Time delay after firing to determine if firing has stopped
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0.01 to 2
Shot Reset Delay = 0.05

## Shot count when hyperburst ends (adjust for timing issues)
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 5
Hyperburst Shot Threshold = 1

