## Settings file was created by plugin ScrollableAttachments v1.1.0
## Plugin GUID: com.pein.attachmentscrolling

[General]

## Changes the scroll speed of the attachment menu
# Setting type: Single
# Default value: 32
# Acceptable value range: From 0 to 100
Scroll speed = 32

## Changes the amount of columns shown in the attachment menu
# Setting type: Int32
# Default value: 6
# Acceptable value range: From 1 to 16
Attachment menu columns = 6

## Changes the height of the attachment menu
# Setting type: Single
# Default value: 420
# Acceptable value range: From 0 to 1080
Attachment menu height = 420

