## Settings file was created by plugin s8 v1.0.0
## Plugin GUID: com.s8.sptpatchcrc32

[Crc32]

## When true: run original HashToUInt32 and native DLL and log both results for comparison.
# Setting type: Boolean
# Default value: false
DebugCompare = false

