## Settings file was created by plugin ZGFueDkx-SkillDistribution v1.2.2
## Plugin GUID: com.zgfuedkx.skilldistribution

[1. General config]

## Determines how skill experience is distributed
## Equal - All experience is equally distributed to all skills (if there is not enough XP, random will be used instead)
## RoundRobin - Distribute XP to one skill after another in cyclic manner
## Random - Distribute XP to random skill(s)
## WeightedRandomMin - Distribute XP to random skill(s), skill with lower level have higher chance
## WeightedRandomMax - Distribute XP to random skill(s), skill with higher level have higher chance
## Min - Distribute XP to skill(s) with lowest level
## Max - Distribute XP to skill(s) with highest level
# Setting type: EDistributionMode
# Default value: WeightedRandomMax
# Acceptable values: Equal, RoundRobin, Random, WeightedRandomMin, WeightedRandomMax, Min, Max
Experience distribution mode = WeightedRandomMax

## Number of skills to distribute experience to
# Setting type: Int32
# Default value: 3
Skills count = 3

## Whether or not XP from gym should be also distributed if strength/endurance is maxed
# Setting type: Boolean
# Default value: true
Allow gym = true

## Whether or not distributed XP used target skill bonuses
# Setting type: Boolean
# Default value: true
Use bonuses = true

## Whether or not distributed XP use and cause target skill fatigue
# Setting type: Boolean
# Default value: true
Use effectiveness = false

## Whether or not distributed XP cause target skill fatigue when use_effectiveness is false. This option has no effect if use effectiveness is set to true
# Setting type: Boolean
# Default value: true
Cause fatigue = false

## Experience multiplier of distributed XP. Use it to increase or decrease XP that is distributed. Cumulates with specific skill multiplier!
# Setting type: Single
# Default value: 1
Experience multiplier = 3

## Experience multiplier of distributed XP from workout
# Setting type: Single
# Default value: 1
Experience multiplier (gym) = 24

## Pull settings from server and apply them
# Setting type: String
# Default value: 
Reset to server values = 

[2. Skill Multipliers]

## Whether to apply multipliers listed below (doesn't apply to workout - use 'Experience multiplier (gym)' instead)
# Setting type: Boolean
# Default value: false
Enable multipliers = true

## Set distributed XP multiplier when elite Endurance is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Endurance multiplier = 5

## Set distributed XP multiplier when elite Strength is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Strength multiplier = 0

## Set distributed XP multiplier when elite Vitality is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Vitality multiplier = 0

## Set distributed XP multiplier when elite Health is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Health multiplier = 0

## Set distributed XP multiplier when elite StressResistance is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
StressResistance multiplier = 0

## Set distributed XP multiplier when elite Metabolism is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Metabolism multiplier = 0

## Set distributed XP multiplier when elite Immunity is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Immunity multiplier = 0

## Set distributed XP multiplier when elite Perception is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Perception multiplier = 0

## Set distributed XP multiplier when elite Intellect is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Intellect multiplier = 0

## Set distributed XP multiplier when elite Attention is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Attention multiplier = 0

## Set distributed XP multiplier when elite Charisma is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Charisma multiplier = 0

## Set distributed XP multiplier when elite Pistol is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Pistol multiplier = 0

## Set distributed XP multiplier when elite UsecArsystems is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
UsecArsystems multiplier = 0

## Set distributed XP multiplier when elite BearAksystems is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
BearAksystems multiplier = 0

## Set distributed XP multiplier when elite Lockpicking is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Lockpicking multiplier = 0

## Set distributed XP multiplier when elite ProneMovement is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
ProneMovement multiplier = 0

## Set distributed XP multiplier when elite SilentOps is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
SilentOps multiplier = 0

## Set distributed XP multiplier when elite UsecNegotiations is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
UsecNegotiations multiplier = 0

## Set distributed XP multiplier when elite BearRawpower is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
BearRawpower multiplier = 0

## Set distributed XP multiplier when elite Revolver is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Revolver multiplier = 0

## Set distributed XP multiplier when elite SMG is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
SMG multiplier = 0

## Set distributed XP multiplier when elite Assault is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Assault multiplier = 0

## Set distributed XP multiplier when elite Shotgun is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Shotgun multiplier = 0

## Set distributed XP multiplier when elite Sniper is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Sniper multiplier = 0

## Set distributed XP multiplier when elite LMG is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
LMG multiplier = 0

## Set distributed XP multiplier when elite HMG is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
HMG multiplier = 0

## Set distributed XP multiplier when elite Launcher is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Launcher multiplier = 0

## Set distributed XP multiplier when elite AttachedLauncher is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
AttachedLauncher multiplier = 0

## Set distributed XP multiplier when elite Throwing is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Throwing multiplier = 0

## Set distributed XP multiplier when elite Melee is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Melee multiplier = 0

## Set distributed XP multiplier when elite DMR is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
DMR multiplier = 0

## Set distributed XP multiplier when elite AimDrills is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
AimDrills multiplier = 0

## Set distributed XP multiplier when elite TroubleShooting is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
TroubleShooting multiplier = 0

## Set distributed XP multiplier when elite Surgery is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Surgery multiplier = 0

## Set distributed XP multiplier when elite CovertMovement is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
CovertMovement multiplier = 0

## Set distributed XP multiplier when elite Search is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
Search multiplier = 0

## Set distributed XP multiplier when elite MagDrills is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
MagDrills multiplier = 0

## Set distributed XP multiplier when elite FieldMedicine is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
FieldMedicine multiplier = 0

## Set distributed XP multiplier when elite FirstAid is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
FirstAid multiplier = 0

## Set distributed XP multiplier when elite LightVests is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
LightVests multiplier = 0

## Set distributed XP multiplier when elite HeavyVests is source of the XP. Cumulates with global experience multiplier!
# Setting type: Single
# Default value: 1
HeavyVests multiplier = 0

WeaponTreatment multiplier = 5

Crafting multiplier = 5

HideoutManagement multiplier = 5

[9. Debug]

## Log debug info to Player.log
# Setting type: Boolean
# Default value: false
Debug logs = false

