## Settings file was created by plugin MoreBotsAPI v2.0.1
## Plugin GUID: com.morebotsapi.tacticaltoaster

[Bot Zones]

## Draw Bot Zones
# Setting type: Boolean
# Default value: false
Draw Bot Zones = false

