## Settings file was created by plugin MadManBeavis's NarcoNet v1.0.16
## Plugin GUID: com.madmanbeavis.narconet.client

[General]

## Should the mod delete files that have been removed from the server?
# Setting type: Boolean
# Default value: true
Delete Removed Files = true

## Automatically close the sync diagnostic window when sync completes. Disable for debugging.
# Setting type: Boolean
# Default value: true
Auto-Close Diagnostic Window = true

[Synced Paths]

## Should the mod attempt to sync files from BepInEx/patchers
# Setting type: Boolean
# Default value: true
BepInEx/patchers = true

## Should the mod attempt to sync files from BepInEx/plugins
# Setting type: Boolean
# Default value: true
BepInEx/plugins = true

