## Settings file was created by plugin Vagabond v0.7.1
## Plugin GUID: dev.oogabooga.spt-vagabond

[For Modders]

## Press in raid to dump current map, position and yaw to file in the Vagabond mod dir.
# Setting type: KeyboardShortcut
# Default value: F8
Dump Current Location = F8

## Press in raid to dump a copy/paste ready custom extract snippet using the current player position, to a file in the Vagabond mod dir
# Setting type: KeyboardShortcut
# Default value: F9
Dump Extraction From Current Location = F9

## Press in raid to dump a copy/paste ready custom transit snippet using the current player position, to a file in the Vagabond mod dir
# Setting type: KeyboardShortcut
# Default value: F10
Dump Transit From Current Location = F10

[For Players]

## Press in raid to place the entrance to your hideout at your current location.
# Setting type: KeyboardShortcut
# Default value: P + LeftControl
Place Hideout Entrance = P + LeftControl

